{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 140,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "editor.formatOnSave": true,
  "prettier.javascriptEnable": ["javascript", "javascriptreact"]
}
